/* GRAPHIC DESIGNER */

* {
	box-sizing: border-box;
}

body {
	font-family: helvetica, sans-serif;
	font-weight: thin;
	margin: 0;
	padding: 0.5em;
	background: #abe6e2;
	color: #282828;
	font-size: 17px;
	line-height: 1.2;
}

main {
	max-width: 35em;
	margin: 5em auto;
	
	padding: 0 0.5em;
	perspective: 20em;
}
h1{ font-family: 'Josefin Sans', sans-serif;
	font-size:40px;
	position: fixed;
	z-index: 2;
	margin: 0;
	top: 0.25em;
	color: #abe6e2



}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size:60px;
	text-align: center;
	padding: 0;
}
h3{
	font-family: 'Josefin Sans', sans-serif;
	font-size:30px;
	color:white;

}
h4{
	color: #f028b8;
	font-family: 'Josefin Sans', sans-serif;
	font-size:20px;
	text-align: center;

}


p {
	margin: 0 0 1rem 0;
	color:#524214;
}

img {
	max-width: 100%;
	height: auto;
}

footer {
	background: white;
	margin: -0.5em;
	padding: 1em 0.5em 3em 0.5em;
	color: #f2c544;
	text-align: left;
}

.borders {
	border-radius: 0 10em 1em 0;
	animation-name: borders;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform: rotateY(20deg);
	transform-origin: left;
	transition: transform 0.5s;
}

.borders:hover {
	transform: rotateY(-10deg);
}

@keyframes borders {
	from { border-radius: 0 10em 1em 0; }
	to { border-radius: 0 1em 10em 0; }
}

.button {
	border: 2px solid;
	border-radius: 1em;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #282828;
	display: inline-block;
	margin: 0.5em 0;
	transition: color 0.25s;
	-webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  

}

  

.button:hover {
  
  color: #f028b8;
}


nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: white 30%;
	z-index: 2;
	padding: 0.5em;
	display: flex;
	justify-content: flex-end;

   }
nav a{
	color: #282828;
	margin: 0.5em;
	text-decoration: none;
	transition: color 0.25s;
}

nav a:hover {
      color: #f2c544;

}
.branding{
	  position: absolute;
	  top: 0;
	  left: 0;
}
.active {
	 color: #f028b8;

}

.grid {
 margin-top: 3em;
 display: flex;
 flex-wrap: wrap;
 flex-direction: row-reverse;
}

.item {
	width: 100%;
	padding: 0.5em;

}


@media (min-width: 750px) {
	.item {
		width: 50%;
	}
}

@media (min-width: 1200px){
	.item {
		width: 33.33%;

	}
}
.toggle p {
	opacity: 0;
	transition: all 0.5s;
	height: 0;
	transition-delay: 0.5s;
	transform: translateX(-2em);
}
.show p {
	opacity: 1;
	height:100%;
	transform: translateX(0);
}
.toggle h3 {
	cursor: pointer;
	transition: all 0.5s;
}
.toggle h3:hover {
	color:#f028b8;
}
.show h3 {
	transform: translateY(-0.5em);
}
.grid {
	display: flex;
	flex-wrap: wrap-reverse;
}

.item {
	width: 50%;
	padding: 0.5em;
}



.spaceship {

	position: absolute;
	left: -80%;
	top: 10%;
	animation-name: space;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	width: 300px;
	height: 345px;

}

@keyframes space {
	from {
		top: 10%;
	}

	to {
		top: 90%
	}

}







